<?xml version="1.0"?>
<model>
  <name>Mobile Warehouse Robot</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>
  
  <author>
    <name>Lance Ward</name>
    <email>lward@umes.edu</email>
  </author>
  
  <description>
    A basic differential drive robot.
  </description>
</model>

